html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media print {
  @page {
    size: A4;
    margin: 0.2in 0.2in 0.2in 0.2in;
    mso-header-margin: 0.2in;
    mso-footer-margin: 0.2in;
    mso-paper-source: 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
}
